.notes {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 10px;

    &__input {
      width: 60%;
    }

    &__controls {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding-top: 10px;
      width: 40%;
    }
  }
}
